@import url(navbar.css);

form {
    display: flex; 
    flex-direction: column; 
    padding: 0% 20%;
}

label {
    color: #F6CB0C;
    font-size: 1em;
    font-family: century-gothic, sans-serif;
    padding-top: 1em;
    padding-bottom: 0.25em;
}

input, textarea {
    padding-bottom: 5%;
}

#submit-button {
    padding: 1em;
    margin-top: 2em;
}
