@import url(navbar.css);

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table {
    color: #F6CB0C;
    font-family: century-gothic, sans-serif;
    width: 60%;
}

.header-row {
    font-weight: bold;
    height: 3em;
}

.price-column {
    text-align: right;
}